/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body{
	font-family: Roboto;

	ul{
		list-style: none;

		li{
			cursor: pointer;
		}
	}
}

