@import '../sass/colors';
@import '../sass/mixin';

#top-bar {
	color: $text-dark;
	cursor: pointer;

	.nav-top{
		margin: 16px 0;

		.icon {
		width: 15px;
	    margin-right: 8px;		    
		}

		.car {
			position: relative;
		}

		span {		
			font-size: 0.7rem;
			text-transform: uppercase;

			&.badge-pill {
				padding: .3em .5em;
				position: absolute;
			    bottom: 16px;
				right: 7px;

				&.badge-danger {
					background: #ff0000;
				}
			}		
		}

	}	

	input {
		border: none;
		font-size: 0.7rem;
		color: $text-dark;
		
	}

	
}

#menu {
	background-color: $primary-color;
	text-transform: uppercase;

	nav {

		ul {				
			margin: 0;				

		}
		li {
			color: white;
			padding: 12px 20px;			

			&:hover {
				background-color: white;
				color: $primary-color;
			}	

		}
		
	}
}

#banner {
	background-color: black;
	
	img{
		width: 100%;
		position: relative;
	}
}

// Categoria de produtos
#category {

	.card-title {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 500;
		color: $primary-color;
		margin-top: 50px;
		margin-bottom: 0;
			
	}
	.divider {			
	  	width: 277px;
	  	height: 1px;
	  	background: $primary-color;
  	    margin-left: 0;
    	margin-top: 3px;
	}

	.carousel-categories {

		.item {
			margin-top: 25px;
			height: 510px;
			padding: 20px;
			border: 1px solid transparent;

			&:hover {
				border: 1px solid rgba(0, 92, 153, 0.39);
				border-radius: 5px;											
			}

			.img-product {
				width: 200px;
				height: 200px;
			}

			.details-product{
				margin-top: 48px;

				.title-product{
					height: 40px;
					line-height: 1.2;				    
       				display: -webkit-box;
				    -webkit-line-clamp: 2;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;

					.title {						
						color: $secundary-color;
					}
				}
			
				.price-product{
					margin-top: 16px;

					.price {
						color: $primary-color;
						font-weight: 500;
			    		font-size: 1.2rem;
					}
				}

				.installments-product{
					margin-bottom: 48px;

					.installments {
						font-size: 1rem;
						color: $secundary-color;
						opacity: 0.6;				
					}
					
				}

				.free-shipping {
				    height: 25px;

					.item-free {
						border: 1px solid #4caf50;
						color: #4caf50;
						text-transform: uppercase;
						font-size: 0.6rem;
						padding: 5px;
						border-radius: 5px;
					}
				}
			}
				

			.btn-comprar{
				background: #4caf50;
				color: white;
				margin-top: 20px;
				text-transform: uppercase;	
			    padding: 12px 60px;
    			border-radius: 1px;
    			font-weight: 500;

    			.car{
    				margin-left: 5px;
    				width: 24px;
    				margin-bottom: 5px;
    			}
			}

			
		}

		.ngxcarouselPointDefault{

			.ngxcarouselPoint{

				li{	
				    background: white;
				    border: 1px solid #005c99;
    				border-width: 2px;

					&.active{
						background: #005c99;
						transform: none;
					}

				}

			}
		}   

		
	}	
}

//footer
#rodape{
	cursor: pointer;
	background: (#e8e8e8, white); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e8e8e8, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e8e8e8, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e8e8e8, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e8e8e8, white); /* Standard syntax */
    padding: 60px 0 85px 0;

	h6{
		font-size: 1.05rem;

		&:hover{
			color: $primary-color;
			font-weight: 500;
		}
	}
	ul{
		padding-left: 0;

		li{
		    font-size: 0.9rem;
    		padding-top: 5px;

    		&.contact{
    			margin-bottom: 18px;

    			.bold{
    				font-weight: 600;
    				font-size: 1.1rem;
    			}
    		}

    		&.social{
    			margin-right: 10px;

    		}

    		&:hover{
    			color: $primary-color;
    		}
		}

		&.pay{
			img{
				width: 40px;
    			margin-left: 8px;
			}
		}

	}
}


//MEDIA QUERY


@media (min-width: 1000px){

	.menuMobile{
		display: none;
	}
}

@media (max-width: 999px){


	.menuPrincipal{
		display: none;
	}

	.menuMobile{
    	height: 40px;

    	.navbar-toggler{
			display: block;
			z-index: 2;
			border-color: #fff;
		    margin-top: 5px;
	        margin-left: 5px;

			.fa-bars{
				color: white;

			}
		}
    	
	}

	.navbar-collapse{
	    position: absolute;
    	z-index: 1;
    	background-color: #fff;
    	width: 100%;

    	.navbar-nav{
    		background-color: $primary-color;

    		.nav-item{ 
    			&:first-child{
    				margin-top: 40px;
    			}   			
    			
    		}
			.nav-link{
				color: #fff;

				&:hover{
					color: $primary-color;
				}
    		}

    	}

	}
}

#rodape{
	.contact{
		span{
			display: block;
		}
	}
}

@media (max-width: 768px) {

	.navbar-toggler{
		display: block;
	}

	#rodape{
		.info-pay{
			.payments{
				justify-content: center !important;
			}
		}
	}
}

@media (max-width: 580px) {

	.brand{
		height: 26px;    	
	}

	input{
		display: none;
	}

	.conta{
		margin-right: 24px;

		span{
			display: none;

		}
	}
	
	#rodape{
		.info-pay{
			.payments{
				justify-content: center !important;
			}
		}
	}

}


@media(max-width: 480px) {
	
	.navbar-toggler{
		display: block;
	}

	.brand{
		height: 26px;    	
	}

	input{
		display: none;
	}

	.conta{
		span{
			display: none;
		}
	}

	// #rodape{
	// 	.info-pay{
	// 		.payments{
	// 			justify-content: center;
	// 		}
	// 	}
	// }
}


@media (max-width: 375px) {

	.navbar-toggler{
		display: block;
	}
	#rodape{
		.contact{
			.tel{
				font-size: 0.9rem !important;
			}
		}
		
		.info-pay{
			.pay{				
				display: block !important;
			}
			.security{
				display: block !important;
			}
		}
	}

}