<header id="top-bar" class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-between nav-top">            
            <img class="brand" src="../assets/img/logo.jpg">
            <div class="buscar">
                <img class="icon" src="../assets/img/icon-buscar.png">
                <input type="text" placeholder="BUSCAR"> 
            </div>      
            <div class="conta">
                <img class="icon" src="../assets/img/icon-minhaconta.png">
                <span>Minha Conta</span> 
            </div> 
            <div class="carrinho">         
                <img class="car" src="../assets/img/icon-carrinho.png"> 
                <span class="badge badge-pill badge-danger">2</span>    
            </div>
        </div>
    </div>  
</header>

<!--NAVEGAÇAO-->
<section id="menu">
    <div class="container navigation">
        <div class="row">
            <div class="col-12">
<!--MENU MOBILE-->
                <nav class="menuMobile navbar-toggleable-md navbar-light" >
                    <button (click)="menuMobile=!menuMobile" class="navbar-toggler navbar-toggler-left" type="button" >
                        <span class="fa fa-bars"></span>
                    </button>
                    
                    <div [hidden]="menuMobile" class="navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Todas as categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Eletrônicos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Smartphones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Games</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Livros</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
<!--MENU PRINCIPAL-->
                <nav class="menuPrincipal">                    
                    <ul class="d-flex justify-content-between">
                        <li>Todas as categorias</li>
                        <li>Eletrônicos</li>
                        <li>Smartphones</li>
                        <li>Games</li>
                        <li>Livros</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--banner-->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="../assets/img/destaque.png">
            </div>
        </div>
    </div>
</section>
<!--Categoria de produtos-->
<section id="category" class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="card-title">Mais vendidos</h3>
            <hr class="divider">
            <ngx-carousel class="carousel-categories text-center" [inputs]="carouselOne">
                
                <ngx-item *ngFor="let product of bestSellers" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" NgxCarouselItem class="items-carousel">                    
                    <div>                        
                        <img class="img-product" src="{{product.image}}" onerror="this.src='../assets/img/img-empty.png'" >
                    </div>
                    <div class="details-product">
                        <div class="title-product">                        
                            <span class="title">{{product.title}}</span>
                        </div>
                        <div class="price-product">                        
                            <span class="price">R${{product.price}}</span>
                        </div>
                        <div class="installments-product mb-3">
                            <small class="installments">{{product.installments.number}}x de R${{product.installments.value}} </small>
                        </div>
                        <div class="free-shipping">
                            <span [hidden]="!product['free-shipping']" class="item-free">Frete grátis</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-comprar d-none">
                        Comprar
                        <img class="car" src="../assets/img/cart.png">
                    </a>
                </ngx-item>
               
                <button NgxCarouselPrev hidden class='leftRs'>&lt;</button>
                <button NgxCarouselNext hidden class='rightRs'>&gt;</button>
            </ngx-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="card-title">Lançamentos</h3>
            <hr class="divider">
            <ngx-carousel class="carousel-categories text-center" [inputs]="carouselOne">

                <ngx-item *ngFor="let product of releases" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" NgxCarouselItem class="items-carousel">
                    <div>                        
                        <img class="img-product" src="{{product.image}}" onerror="this.src='../assets/img/img-empty.png'">
                    </div>
                    <div class="details-product">
                        <div class="title-product">                        
                            <span class="title">{{product.title}}</span>
                        </div>
                        <div class="price-product">                        
                            <span class="price">R${{product.price}}</span>
                        </div>
                        <div class="installments-product mb-3">
                            <small class="installments">{{product.installments.number}}x de R${{product.installments.value}} </small>
                        </div>
                        <div class="free-shipping">
                            <span [hidden]="!product['free-shipping']" class="item-free">Frete grátis</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-comprar d-none">
                        Comprar
                        <img class="car" src="../assets/img/cart.png">
                    </a>
                </ngx-item>
               
                <button NgxCarouselPrev hidden class='leftRs'>&lt;</button>
                <button NgxCarouselNext hidden class='rightRs'>&gt;</button>
            </ngx-carousel>
        </div>    
    </div>
</section>

<footer id="rodape">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h6>A Empresa</h6>
                        <ul>
                            <li>Quem Somos</li>
                            <li>Localização</li>
                            <li>Contato</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6>Categorias</h6>
                        <ul>
                            <li>Eletrônicos</li>
                            <li>Smartphones</li>
                            <li>Games</li>
                            <li>Livros</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6>Minha Conta</h6>
                        <ul>
                            <li>Entrar na Conta</li>
                            <li>Cadastrar</li>
                            <li>Informações de Conta</li>
                            <li>Meus Pedidos</li>
                            <li>Endereços</li>
                        </ul>
                    </div>
                
                    <div class="col">
                        <h6>Suporte</h6>
                        <ul>
                            <li>Política de Privacidade</li>
                            <li>Troca e Devolução</li>
                            <li>Política de Entrega</li>
                            <li>Política de Pagamento</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6>Atendimento</h6>
                        <ul>
                            <li class="contact">Central de atendimento
                                <span class="bold tel">0800 222 0000</span>
                            </li>
                            <li>Chat</li>
                            <li>Fale Conosco</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6>Social</h6>
                        <ul class="d-flex">
                            <li class="social"><img src="../assets/img/sociais-face.png"></li>
                            <li class="social"><img src="../assets/img/sociais-insta.png"></li>
                            <li class="social"><img src="../assets/img/sociais-yt.png"></li>
                        </ul>
                    </div>
                </div>
                <div class="row info-pay mt-3">
                    <div class="col d-flex justify-content-end payments">
                        <ul class="d-flex align-items-center pay">
                            <span class="mr-3">Formas de pagamento</span>            
                            <li><img src="../assets/img/visa.png"></li>
                            <li><img src="../assets/img/mastercard.png"></li>
                            <li><img src="../assets/img/amex.png"></li>
                            <li><img src="../assets/img/moneybookers.png"></li>
                        </ul>
                    </div>
                    <div class="col d-flex ml-4">  
                        <ul class="d-flex align-items-center security">
                            <span class="mr-3">Segurança</span>
                            <li class="mr-3"><img src="../assets/img/protegido.png"></li>
                            <li><img src="../assets/img/blindado.png"></li>
                        </ul>                       
                    </div>          
                </div>
            </div>
        </div>
    </div>
</footer>

